<div class="page-wrapper container welcome-view">
  <div class="center-box">
    <div class="search-form">
      <%= render 'shared/search_form', regions: @regions, platforms: @platforms %>
    </div>
  </div>
</div>
